<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Page Admin</title>
    <!-- ===== Bootstrap CSS ===== -->
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- ===== Plugin CSS ===== -->
    <link href="~/components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- ===== Animation CSS ===== -->
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="~/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @await RenderSectionAsync("Csss", required:false)
</head>

<body class="mini-sidebar">
    <!-- ===== Main-Wrapper ===== -->
    <div id="wrapper">
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
       
        <!-- ===== Top-Navigation-End ===== -->
            @await Html.PartialAsync("_Header");
			<!-- Side Nav START -->
			@await Html.PartialAsync("_LeftSideBar")
        <!-- ===== Left-Sidebar-End ===== -->
        @RenderBody()
    </div>
    <!-- ===== Main-Wrapper-End ===== -->
    <!-- ==============================
        Required JS Files
    =============================== -->
    <!-- ===== jQuery ===== -->
    <script src="~/components/jquery/dist/jquery.min.js"></script>
    <!-- ===== Bootstrap JavaScript ===== -->
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ===== Slimscroll JavaScript ===== -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!-- ===== Wave Effects JavaScript ===== -->
    <script src="~/js/waves.js"></script>
    <!-- ===== Menu Plugin JavaScript ===== -->
    <script src="~/js/sidebarmenu.js"></script>
    <!-- ===== Custom JavaScript ===== -->
    <script src="~/js/custom.js"></script>
    <!-- ===== Plugin JS ===== -->
    <script src="~/components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/components/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/components/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/components/knob/jquery.knob.js"></script>
    <script src="~/components/easypiechart/dist/jquery.easypiechart.min.js"></script>
    <script src="js/db1.js"></script>
    <!-- ===== Style Switcher JS ===== -->
    <script src="~/components/styleswitcher/jQuery.style.switcher.js"></script>
    @await RenderSectionAsync("Scripts", required:false)
</body>

</html>
